@model IEnumerable<EmpDeptPortal.Models.Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">
        <i class="bi bi-plus-circle-fill"></i>&nbsp;Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                <a class="btn btn-secondary btn-success" asp-action="Edit" asp-route-id="@item.DeptId"><i class="bi bi-pencil-square"></i> &nbsp;Edit</a> |
                <a class="btn btn-secondary btn-info" asp-action="Details" asp-route-id="@item.DeptId"><i class="bi bi-person-lines-fill"></i> &nbsp;Details</a> |
                <a class="btn btn-secondary btn-warning" asp-action="Delete" asp-route-id="@item.DeptId"><i class="bi bi-trash"></i> &nbsp;Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
